{% extends "templates/base.html" %}

{% block body %}
        <h1>Results for category : {{category}}</h1>
    {% if not matches %}
        <p>There's not any result in this category... not sure it does relaly exist</p>
    {% else %}
        <h2>Posts</h2>
        <ul>
            {% for p in matches['posts'] %}
            <li><a href="/p/{{p[0]}}">{{p[1]}}</a></li>
            {% endfor %}
        </ul>
        <h2>Breves</h2>
        <ul>
            {% for b in matches['breves'] %}
            <li><a href="/b/{{b[0]}}">{{b[1]}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{#
 vim: ft=htmldjango
#}
