{% extends 'templates/base.html' %}
{% block body %}
    <div id="hp_breves">
        <h1>Breves</h1>
            <ul>
            {% for item in contents_lists['breves'] %}
                <li><a 
					href="/b/{{item['url']}}"
                    title="{{item['title']}}">{{item['title']}}</a>
                </li>   
            {% endfor %}
            </ul>
    </div>
    <div id="hp_posts">
        {% for item in contents_lists['posts'] %}
            <article class="post">
              <div class="header">
                  <h1><a href="/p/{{item['url']}}">{{item['title']}}</a></h1>
              </div>

              <section class="content">
                <p>{{item['slug']}}
              </section>
              <div class="more"><a href="/p/{{item['url']}}">read &raquo;</a></div>
            </article>
        {% endfor %}
    </div>
{% endblock %}

{#
 vim: ft=htmldjango
#}
