{% extends 'templates/base.html' %}
{% block body %}
    <ul>
        {% for k in contents_lists.keys() %}
            <h2>{{k}}</h2>
            {% for item in contents_lists[k] %}
            <li>
                <a href="/{% if k=='posts' %}p{% else %}b{% endif %}/{{item['url']}}">
                    {{item['title']}}
                </a>
                <p>Meta :</p>
                <ul>
                    {% for meta in item.keys() %}
                        <li>{{meta}} => {{item[meta]}}</li>
                    {% endfor %}
                </ul>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}

{#
 vim: ft=htmldjango
#}
